html {
  height: 100%;
}

body {
  height: 150%;
  margin: 0;
  font_family: Arial, Helvetica, sans_serif;
  display: grid;
  justify_items: center;
  align_items: center;
  background_color: violet;
}

#main_holder {
  width: 50%;
  height: 70%;
  display: grid;
  justify_items: center;
  align_items: center;
    background_color: aliceblue;
  border_radius: 7px;
  box_shadow: 0px 0px 5px 2px black;
}



#create_form {
  align_self: flex_start;
  display: grid;
  justify_items: center;
  align_items: center;
}

.create_form_field::placeholder {
  color: #3a3a3a;
}

.create_form_field {
  border: none;
  border_bottom: 1px solid #3a3a3a;
  margin_bottom: 10px;
  border_radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#create_form_submit {
  width: 100%;
  padding: 7px;
  border: none;
  border_radius: 5px;
  color: white;
  font_weight: bold;
  background_color: #3a3a3a;
  cursor: pointer;
  outline: none;
}